{% extends 'SN/base.html' %}
{% block title %}Report User{% endblock %}
{% block body %}
<div class="container-fluid">

    <div class="col-sm-12 col-md-7">

        <div class="panel panel-default">

            <div class="panel-body">
                <h3><strong>Report Post 🚫</strong></h3>
                {% if error_message %}
                <p><strong>{{ error_message }} </strong></p>
                {% endif %}
                <hr>

                <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <label><h4><strong>Why are you reporting this post?</strong></h4></label>
                    <div class="col-sm-10">

                        {{ form.report_option }}

                    </div>
                    <br>

                    <label><h4><strong>Could you tell us more?</strong></h4></label>
                    <div class="col-sm-10">{{ form.text }}</div>

                    <br>
                    <div class="form-group">
                        <div class="col-sm-offset-10 col-sm-10">
                            <button type="submit" class="btn btn-danger">Send Report</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>

    </div>


</div>
{% endblock %}